{% extends 'base.html' %}


 {% block content %}
    <!-- ChoseUs Section Begin -->


    <!-- About US Section Begin -->
    <section class="aboutus-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                   <div class="about-video set-bg" data-setbg="static/img/about-us.jpg">
                        <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i
                                class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="about-text">
                        <div class="section-title">
                            <span>О нас</span>
                            <h2>Что мы даем</h2>
                        </div>
                        <div class="at-desc">
                            <p>My gym – интернет-сервис для размещения тренировочных программ. Неограниченное количество тренеров могут зарегистрироваться на нашем сайте и начать размещать свои программы тренировок. Здесь вы можете размещать как разовые тренировки, так и программы на неделю и даже на месяц. Вы можете размещать свои тренировки как бесплатно, так и выставлять желаемую цену для ее продажи. Для размещения тренировок вы должны зарегистрироваться на нашем сайте и указать данные о себе на вкладке “Аккаунт”.</p>
                        </div>
                        <div class="section-title">
                            <span>Условия</span>

                        </div>
                        <div class="at-desc">
                            <p>Если вы решите выкладывать платные тренировочные программы, вы можете самостоятельно указать любую цену за вашу программу, для этого вам нужно указать номер счета, куда будут перечисляться деньги за продажи ваших программ. Наш сайт будет увеличивать цену за нее на 10% процентов. Эти проценты являются комиссией за пользование сайтом.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About US Section End -->

    <!-- Banner Section End -->



       <!-- Get In Touch Section Begin -->
{% endblock %}