{% extends "baseforaccaunt.html" %}
 {% block content %}

    <!-- ChoseUs Section Begin -->

    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->
     <section class="classes-section spad">
        <div class="container">

            {% for element in users %}
            <div class="row">


                <div class="col-lg-8 p-0">
                    <div class="blog-item">

                        <div class="bi-text">
                            <h5><a href="./blog-details.html">{{element.login}}</a></h5>
                            <ul>

                                <li>{{ element.name }}</li>
                                <li>{{ element.surname }}</li>
                                <li>{{ element.role_id }}</li>

                            </ul>



                            <a href="/userdelete/{{ element.id }}" class="primary-btn">Удалить</a>
                            </div>

                    </div>


        </div>
            </div>

            {% endfor %}
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->

    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->

    <!-- Pricing Section End -->

    <!-- Gallery Section Begin -->

    <!-- Gallery Section End -->

    <!-- Team Section Begin -->

    <!-- Team Section End -->

    <!-- Get In Touch Section Begin -->
{% endblock %}