<!doctype html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-4084665312687665" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = "css/bootstrap/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = "css/custom.css")}}">


</head>
<body>
    <title>My gym</title>
    <style>

    </style>
    <!-- adxxx-verification-code:80e1af06fdc62a833b96cb280611a87f -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-item mr-auto" href="/"> My gym </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" style="color:#f8f9fa" href="/contacts">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#f8f9fa" href="/treaning">Тренировки</a>
                        </li>
                    <li class="nav-item">
                            <a class="nav-link" style="color:#f8f9fa" href="/search">Поиск</a>
                        </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <ul class="navbar-nav navbar-right">


                        <div class="row justify-content-md-center">
                            <hr class="col-lg-10-md-center">

                                <a class="btn  btn-danger " href="/exit">Выход</a></hr>






                                <ul class="navbar-nav navbar-right">
                    <ul class="navbar-nav navbar-right">

                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff4500" href="/treanerserch">Тренеры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ff4500" href="/forme">Мои подписки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ffff33" href="/sportsmansaccount">Добавленные тренировки</a>
                        </li>

                    </ul>

                            </div>

                    </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>