{% extends base %}
{% block content %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="post">
                <div class="card">
                    <div class="card-header">
                        Мои социальные сети
                    </div>
                    <div class="card-body">
                        
                        <div class="row justify-content-md-center">
                            <div class="col-lg-10-md-center">
                                
                                 <a class="btn  btn-success " href="https://www.instagram.com/mishkapavlov_rus/">Instagram</a>
                                
                                
                                 <a class="btn  btn-danger " href="https://www.youtube.com/channel/UCTMYQJUEIGLq7bidSA-wlew">YouTube</a>
                                
                                
                                 <a class="btn  btn-info " href="https://vk.com/mishkapavlov_rus">VK</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

  {% endblock %}