{% extends 'baseforaccaunt.html' %}
{% block content %}
<div class="container">

    <form method="post">
        <div class="card-header">
            Напишите о своей тренировке
        </div>
        <form method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Заголовок</label>
                <input type="text" name="title" id="title" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Ссылка на видео о программе</label>
                <input type="text" name="linkintro" id="linkintro" class="form-control"><br>
                <label for="exampleFormControlInput1">Краткое описание</label>

                <textarea name="intro" id="intro" class="form-control"></textarea><br>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Ссылка на видео</label>
                <input type="text" name="link" id="link" class="form-control"><br>
                <label for="exampleFormControlInput1">Полное описание</label>
                <textarea name="text" id="text" class="form-control"></textarea><br>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Укажите уровень сложности</label><br>
                 <input type="radio" name="level" id ="easy" value="Легко" /> Легко </br>
                 <input type="radio" name="level" id ="middle" value="Средний уровень" /> Средне </br>
                <input type="radio" name="level" id ="hard" value="Сложно" /> Сложно </br>
             </div>
            </hr>
             <div class="form-group">
                 <label for="exampleFormControlInput1">Укажите тип</label><br>
                 <input type="radio" name="who" id ="coach" value="free" /> Бесплатная </br>
                 <input type="radio" name="who" id ="sportsmen" value="paid" /> Платная </br>
             </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" >Если ваша тренировка платная, укажите цену в рублях:</label>
                <input  type="number" name="cost"   size="15" maxlength="20" ><br>
            </div>
           
            <input type="submit" class="btn  btn-success " value="Отправить">




        </form>


    </form>
</div>

    </section>


 {% endblock %}
