{% extends base %}
 {% block content %}

    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->



   <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">Великие фразы</h5>
                        </div>
                    </div>
</div>
                    <div class="blog-item">


                    </div>
                    <div class="blog-item">
                        <div class="bi-pic">
                            <img src="static/img/blog/sw1.jpg"  alt="">
                        </div>
                        <div class="bi-text">
                            <h5><a >"Сила не приходит от победы. Силу формирует борьба. Когда вы превозмогаете сложности и решаете не сдаваться - это сила.".</a></h5>
                            <ul>
                                <li>Арнольд Шварцнегер</li>

                            </ul>

                        </div>
                    </div>
                    <div class="blog-item">

                        <div class="bi-text">
                            <h5><a href="./blog-details.html">Ты можешь сказать, что у тебя плохая генетика, плохой обмен веществ, а можешь просто поднять свою задницу с дивана и начать работать над собой, задаться целью и верить в себя. В этом случае ты обязательно добьёшься успеха.</a></h5>
                            <ul>
                                <li>Арнольд Щварцнегер</li>

                            </ul>

                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="bi-pic">
                            <img src="static/img/blog/gr1.jpg" alt="">
                        </div>
                        <div class="bi-text">
                            <h5><a href="./blog-details.html">Моя мотивация это вообразить, что мой худший кошмар стал реальностью, поэтому я поднимаю задницу и делаю всё возможное, что б этого не случилось.</a></h5>
                            <ul>
                                <li>Грег Плитт</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="bi-pic">
                            <img src="img/blog/blog-5.jpg" alt="">
                        </div>
                        <div class="bi-text">
                            <h5><a href="./blog-details.html">Успех — это путь одиночек. Очень немногие готовы терпеть эту боль, идти на жертвы, проявлять терпение, чтобы стать в конечном итоге успешным. Это вечная битва. На вашем пути не будет очень много друзей, вам будут встречаться лишь тени. Ты должен доверять своему сердцу, искренне верить в то, что ты делаешь. Вот что делает твою битву победоносной.</a></h5>
                            <ul>
                                <li>Грег Плитт</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="bi-pic">
                            <img src="static/img/blog/mt1.jpg" alt="">
                        </div>
                        <div class="bi-text">
                            <h5><a href="./blog-details.html">Не будь пассажиром по жизни, будь водителем! Прокладывай свой путь сам, не зависимо от кого-то.

</a></h5>
                            <ul>
                                <li>Майк Тайсон</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-item">

                        <div class="bi-text">
                            <h5><a href="./blog-details.html">Никто не хочет вставать в четыре утра и идти бегать, когда еще совершенно темно, но это необходимо. Единственная причина, почему я это делаю так рано, – я верю, что никто другой не делает этого. И это дает мне маленькое преимущество.

</a></h5>
                            <ul>
                                <li>Майк Тайсон</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="bi-pic">
                            <img src="static/img/blog/km1.jpg" alt="">
                        </div>
                        <div class="bi-text">
                            <h5><a href="./blog-details.html">Если вы хотите быть лучшими, вы должны делать то что другие люди не хотят.</a></h5>
                            <ul>
                                <li>Конор Макгрегор</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-item">

                        <div class="bi-text">
                            <h5><a href="./blog-details.html">Я заберусь на эту гору. Говорят, что она слишком высока, слишком недоступна, слишком крута, слишком скалиста и слишком сложна для подъёма. Но это моя гора. Я покорю её. Вскоре вы увидите, как я помашу рукой с вершины, либо умру на подступа</a></h5>
                            <ul>
                                <li>Конор Макгрегор</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">Музыка</h5>

                            <ul>

                                <li><audio controls>
    <source src="static/music/трек1.mp3" >


  </audio></li>
                                 <li><audio controls>
    <source src="static/music/трек2.mp3" >


  </audio></li>
                              <li><audio controls>
    <source src="static/music/трек3.mp3" >


  </audio></li>
                               <li><audio controls>
    <source src="static/music/трек4.mp3" >


  </audio></li>
                             <li><audio controls>
    <source src="static/music/трек5.mp3" >


  </audio></li>


                            </ul>
                        </div>
                        <div class="so-latest">
                            <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">Видео</h5>

                            <ul>

                                <li></li>
                                <iframe  src="https://www.youtube.com/embed/fEpOhttaFDM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><li></li>
                                <iframe src="https://www.youtube.com/embed/LBAWL7y042M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <iframe  src="https://www.youtube.com/embed/3XKfP8gbd9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <iframe  src="https://www.youtube.com/embed/pp4NzHAkHoI?start=95" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <iframe  src="https://www.youtube.com/embed/zi0NJprHc4s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



                            </ul>
                        </div>


            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->

    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="static/img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>Начни заниматься прямо сейчас</h2>
                        <div class="bt-tips">Тебе больше не надо ходить в зал, твой тренер уже здесь и сейчас!</div>
                        <a href="/treanerserch" class="primary-btn  btn-normal">Тренеры</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->

    <!-- Pricing Section End -->

    <!-- Gallery Section Begin -->

    <!-- Gallery Section End -->

    <!-- Team Section Begin -->

    <!-- Team Section End -->

    <!-- Get In Touch Section Begin -->
{% endblock %}