{% extends base %}
 {% block content %}


    <div class="row justify-content-md-center">
        <div class="col-lg-10">

            <br/>

            <div > <a href="/"><img alt="     " src="static\img\img.jpg" width="70%" class="center-img"></a> </div></br>
        </div>
    </div>



        {% for element in articles %}
<div class="row justify-content-md-center">
    <div class="col-lg-10">
        <div class="post">
            <div class="card">
                <div class="card-header">
                    {{element.title}}
                </div>
                <div class="card-body">

                    <p class="card-text">{{element.text}}ппппппппппппппппп66666666666666666666666666666666666666666666666666666666</p>
                    <hr>
                    <div class="post-info">
                        <span class="post-date">{{element.date.date()}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        {% endfor %}

   
{% endblock %}

