{% extends base %}
{% block content %}
 <div class="gettouch-section" align="center">


        <div class="col-lg-10">
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1" ><font color="FFFFFF">Введите логин тренера</label>
                    <input type="email" class="form-control" name = "login" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-warning btn-block">Найти</button>
            </form>
        </div>
    </div>

</div>

  {% endblock %}