{% extends base %}


 {% block content %}




    <!-- ChoseUs Section Begin -->

    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">


            <div class="row">


                <div class="col-lg-8 p-0">
                    <div class="blog-item">

                        <div class="bi-text">
                            <h5><a href="./blog-details.html">{{articles.title}}</a></h5>
                            <ul>
                                <li>{{ articles.creators }}</li>
                                <li>{{ articles.date.date() }}</li>
                                <li>{{ articles.type }}</li>

                            </ul>
                            {% if articles.link != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.linkintro }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.intro }}</p>
                            <h5><font color="red">День 1</font></h5>
                            {% if articles.link1 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link1 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text1 }}</p>
                            <h5><font color="red">День 2</font></h5>
                            {% if articles.link2 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link2 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text2 }}</p>
                            <h5><font color="red">День 3</font></h5>
                            {% if articles.link3 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link3 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text3 }}</p>
                            <h5><font color="red">День 4</font></h5>
                            {% if articles.link4 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link4 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text4 }}</p>
                            <h5><font color="red">День 5</font></h5>
                            {% if articles.link5 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link5 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text5 }}</p>
                            <h5><font color="red">День 6</font></h5>
                            {% if articles.link6 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link6 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text6 }}</p>
                            <h5><font color="red">День 7</font></h5>
                            {% if articles.link7 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link7 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text7 }}</p>
                            <h5><font color="red">День 8</font></h5>
                             {% if articles.link8 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link8 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text8 }}</p>
                            <h5><font color="red">День 9</font></h5>
                             {% if articles.link9 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link9 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text9 }}</p>
                            <h5><font color="red">День 10</font></h5>
                             {% if articles.link10 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link10 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text10 }}</p>
                            <h5><font color="red">День 11</font></h5>
                             {% if articles.link11 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link11 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text11 }}</p>
                            <h5><font color="red">День 12</font></h5>
                             {% if articles.link12 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link12 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text12 }}</p>
                            <h5><font color="red">День 13</font></h5>
                             {% if articles.link13 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link13 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text13 }}</p>
                            <h5><font color="red">День 14</font></h5>
                             {% if articles.link14 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link14 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text14 }}</p>
                            <h5><font color="red">День 15</font></h5>
                             {% if articles.link15 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link15 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text15 }}</p>
                            <h5><font color="red">День 16</font></h5>
                             {% if articles.link16 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link16 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text16 }}</p>
                            <h5><font color="red">День 17</font></h5>
                             {% if articles.link17 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link17 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text17 }}</p>
                            <h5><font color="red">День 18</font></h5>
                             {% if articles.link18 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link18 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text18 }}</p>
                            <h5><font color="red">День 19</font></h5>
                             {% if articles.link19 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link19 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text19 }}</p>
                            <h5><font color="red">День 20</font></h5>
                             {% if articles.link20 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link20 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text20 }}</p>
                            <h5><font color="red">День 21</font></h5>
                             {% if articles.link21 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link21 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text21 }}</p>
                            <h5><font color="red">День 22</font></h5>
                            {% if articles.link22 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link22 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text22 }}</p>
                            <h5><font color="red">День 23</font></h5>
                            {% if articles.link23 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link23 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text23 }}</p>
                            <h5><font color="red">День 24</font></h5>
                            {% if articles.link24 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link24 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text24 }}</p>
                            <h5><font color="red">День 25</font></h5>
                            {% if articles.link25 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link25 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text25 }}</p>
                            <h5><font color="red">День 26</font></h5>
                            {% if articles.link26 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link26 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text26 }}</p>
                            <h5><font color="red">День 27</font></h5>
                            {% if articles.link27 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link27 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text27 }}</p>
                            <h5><font color="red">День 28</font></h5>
                            {% if articles.link28 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link28 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text28 }}</p>
                            <h5><font color="red">День 29</font></h5>
                            {% if articles.link29 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link29 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text29 }}</p>
                            <h5><font color="red">День 30</font></h5>
                            {% if articles.link30 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link30 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text30 }}</p>
                            <h5><font color="red">День 31</font></h5>
                            {% if articles.link31 != "https://www.youtube.com/embed/" %}
                            <iframe width="360" height="215" src="{{ articles.link31 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             {% endif %}
                            <p>{{ articles.text31 }}</p>
<a href="/XXLtraining" class="primary-btn">Закончить просмотр</a>
                            {% if articles.id in follower %}

                                <a href="/XXLreject/{{ articles.id }}" class="btn btn-sm btn-secondary">Удалить из добавленых</a>

                            {% else %}

                                <a href="/XXLoffer/{{ articles.id }}" class="btn btn-sm btn-secondary">Добавить тренировку</a>

                            {% endif %}
                        </div>

                    </div>


        </div>
            </div>


        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->

    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->

    <!-- Pricing Section End -->

    <!-- Gallery Section Begin -->

    <!-- Gallery Section End -->

    <!-- Team Section Begin -->

    <!-- Team Section End -->

    <!-- Get In Touch Section Begin -->
{% endblock %}